<div class="accountInfo">
	<div class="right">
		<p>，消息212条</p>
		<p>07月12日，星期二</p>
	</div>
	<p><span>欢迎使用南京农业大学团委场地管理系统！</span></p>
	<p><a href="demo_page2.html" target="dialog">绿岛网络开发协会</a></p>
</div>

<div class="pageCentent">
<textarea layoutH="80" style="width:98%">
南京农业大学团委场地管理系统 Version 2.0 版本更新说明

</textarea>
</div>